---
title: Изготовление на заказ и монтаж легких металлоконструкций в Самаре. Цены от компании «Металлвсамаре» на сайте
description: "Компания «Металлвсамаре» занимается изготовлением и монтажом легких металлоизделий — ворота, заборы, козырьки, ковка любой сложности. Купить металлоконструкции вы можете на сайте или по телефонам: 8 (927) 260 02 77, 8 (846) 990 02 77."
layout: default
---
{% include sections/banner-menu.html data=site.data.banners.home %}
{% 
include sections/works.html 
container=true 
data=site.data.works 
limit=12
h1=true
%}
{% include sections/callback-block.html %}
{% include sections/seo.html %}