<section class="py-20 text-lg" x-data="{ open: false }">
	<div class="container">
		<div
			class="transition-all ease duration-300 overflow-hidden space-y-5 relative"
			x-bind:class="{'h-[250px] sm:h-[150px]': !open, 'h-auto': open}"
		>
			<h2 class="font-bold text-2xl md:text-4xl">Металлоконструкции в&nbsp;Самаре</h2>
			<p>Компания &laquo;Металлвсамаре&raquo; изготавливает надежные металлические конструкции. Наши металлоконструкции изготавливаются из&nbsp;высококачественных материалов, что обеспечивает их&nbsp;прочность и&nbsp;долговечность. Такие конструкции не&nbsp;только выполняют свои прямые функции, но&nbsp;и&nbsp;являются элементом дизайна, украшая интерьер и&nbsp;экстерьер здания.</p>
			<h2 class="font-bold text-2xl md:text-4xl">Какие металлоконструкции мы&nbsp;изготавливаем?</h2>
			<p>Мы&nbsp;изготавливаем металлоконструкции разных форм и&nbsp;размеров, поэтому вы&nbsp;сможете найти идеальное решение для своего проекта. От&nbsp;простых навесов до&nbsp;больших лестниц и&nbsp;заборов. У&nbsp;нас есть опыт, чтобы предоставить вам решение, которое соответствует вашим потребностям.</p>
			<p>Но&nbsp;это не&nbsp;все. Наши металлические конструкции также индивидуальны, что означает, что вы&nbsp;можете выбрать цвет и&nbsp;дизайн, которые лучше всего соответствуют вашему видению. Кроме того, они не&nbsp;требуют особого ухода и&nbsp;устойчивы к&nbsp;ржавчине, а&nbsp;это означает, что вы&nbsp;сможете пользоваться их&nbsp;преимуществами долгие годы.</p>
			<p>Если вам нужны ворота, навесы, лестница или любой другой тип изделия в&nbsp;Самаре, наши металлические конструкции&nbsp;&mdash; идеальное решение. Благодаря своей прочности, долговечности и&nbsp;универсальности они являются очевидным выбором для любого строительного проекта.</p>
			<p>Так зачем ждать? Свяжитесь с&nbsp;нами сегодня, чтобы узнать больше о&nbsp;наших металлоконструкциях и&nbsp;с&nbsp;уверенностью начать строительство проекта своей мечты!</p>

			<div x-show="!open" class="absolute w-full h-[60px] md:h-[80px] left-0 bottom-0 bg-gradient-to-b from-white/20 to-white"></div>

		</div>
		<button x-on:click="open = !open" class="mt-3 md:mt-5 text-xs md:text-[14px] font-normal text-gray-400 hover:text-deep">
			<span x-show="!open">Читать все</span>
			<span x-show="open">Свернуть</span>
		</button>
	</div>
</section>